.a-header{
    background: url(../../img/tankernew.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin-top: -2rem;
    
  }
  .about-header-text{

    color: white;
    margin: 2rem 0rem 0rem 0rem;
    text-align: center;
  }