.test-head{
    margin-top: 12rem;
    margin-bottom: 5rem;
}
.test-carousel{
    margin-top: 8rem;

}
.carousel-caption {
    position: absolute !important;
    /* right: 15%; */
    bottom: 20px !important;
    /* left: 15%; */
    z-index: 10 !important;
    /* padding-top: 20px; */
    padding-bottom: 100px !important;
    color: white !important;
     text-align: left !important; 
}
@media screen and (max-width: 600px) {
    .carousel-caption{
        padding-bottom: 30px !important;
      }
  }
.testimonailsection{
    margin-top: 10rem;
    background: #eeeeee8c;
}